body {
    font-family: 'Bangla', Arial, sans-serif !important;
    font-size: 18px;
    overflow-x: hidden;
}

.option {
    width: 100px;
    font-size: 150%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.button_grid {}

#others-label {
    font-size: 18px;
}

#send-button {
    margin-left: 25px;
}

.options {
    padding-left: 100px;
}

.btn-love {
    background-color: #F06292;
}

.btn-love:hover {
    background-color: #D81B60;
}

.btn-hate {
    background-color: #90A4AE;
    color: #000000;
}

.btn-hate:hover {
    background-color: #455A64;
}

.btn-surprise {
    background-color: #689F38;
    color: #FFFFFF;
}

.btn-surprise:hover {
    color: #FFFFFF;
    background-color: #33691E;
}

.btn-happy {
    background-color: #42A5F5;
}

.btn-happy:hover {
    background-color: #0D47A1;
    color: #FFFFFF;
}

.btn-confusion {
    background-color: #80CBC4;
    color: #000000;
}

.btn-confusion:hover {
    background-color: #004D40;
    color: #FFFFFF;
}