label.btn-primary:hover {
    background-color: #5d4037;
}


/* */

label.btn.btn-primary.sentiment {
    min-width: 120px;
}


/* On option click */

label.btn.btn-primary.sentiment.active {
    background: green;
    font-weight: bold;
    color: white;
}

button#next_btn {
    min-width: 100px;
}

button#prev_btn {
    min-width: 100px;
}

nav#navigation_bar {
    margin-top: 20px;
}

body {
    max-width: 98%;
    min-width: 98%;
}